#table{
    border-radius: 15px;
    margin: 1rem 0rem;
    color: #363b41;
}
#table td,tr{
    background-color: #f9f9f9;
    color: #363b41;
    font-weight: 500;
}

.history-table-wrapper{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    background-color: #f9f9f9;
    color: #363b41;
    width: 100%;
}

.history-banner{
    width: 100%;
    height: 300px;
    position: relative;
    padding: 1rem;
    border-radius: 30px;
    cursor: pointer;
}

.history-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

#history-advertizing{
    background-color: #fce69d;
}

.history-landing{
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    width: 100%;
    background-color: #fce69d;
    padding: 3rem 3rem 3rem 3rem;
}

.history-landing h1{
    color: #363b41;
    font-size: 4rem;
    padding: 1rem;
    font-weight: 700;
    padding-left: 3rem;
}

.centered-button{
    display: flex;
    justify-content: center;
}

.submit-button{
    width: 30rem;
    height: fit;
    text-align: center;
    background-color: #D05353;
    color: #F1E8B8;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {

    #rounded-order-history{
        width: 100%;
        margin: 3rem 3rem 3rem 3rem;
    }
  
}